#main-1 img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

footer{
    background-color: #737373;
    display: block;
    margin: 0 auto;
}

.my-image{
    display: flex;
    justify-content: center;
}


.my-image img{
    max-width: 250px;
    border: 20px solid #444444;
    border-radius: 50%;
    margin:50px;
}